<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Results - {{.Query}}</title>

    <link href="/public/css/pure-min.css" rel="stylesheet">
    <link href="/public/css/search.css" rel="stylesheet">
</head>
<body>
<div>
    <div id="search_header">
        <div id="logo_div">
            <img src="/public/img/googlelogo.png" />
        </div>
        <form class="pure-form" method="GET" action="/">
            <input id="search_input" type="text" name="q">
            <button id="search_btn" class="pure-button pure-button-primary" type="submit">Search</button>
        </form>
    </div>
    <div id="search_info">
        <p>Found {{.Result.FormattedTotalResults}} results (used {{.Result.FormattedSearchTime}}s)</p>
    </div>
    {{range .Result.Results}}
    <div class="search-result">
        <p class="search-result-title"><a href="{{ .Link}}">{{ .Title}}</a></p>
        <p class="search-result-url">{{.HTMLFormattedURL}}</p>
        <p class="search-result-snippet">{{.HTMLSnippet}}</p>
    </div>
    {{end}}
</div>
</body>
</html>