html,body { height: 100%; margin: 0px; padding: 0px; }

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#search_div {
    width: 50%;
    text-align: center;
}

#search_input {
    width: 80%;
    margin: auto;
}

#search_btn {
    margin-top: 20px;
}