.search-result {
    margin: 10px auto;
    padding: 10px;
    width: 600px;
}

.search-result-title {
    margin: 0;
    font-weight: bold;
}

.search-result-url {
    margin: 0;
    color: #40c057;
}

.search-result-snippet {
    margin: 0;
}
