body {
    font-family: arial, sans-serif;
}

a {
    text-decoration: none;
    color: #1a0dab;
}

a:visited {
    color: #609;
}

#search_header {
    margin: 10px auto;
    width: 600px;
}

#logo_div {
    text-align: center;
}

#search_input {
    width: 500px;
}

#search_info {
    margin: 0 auto;
    width: 600px;
    font-size: 13px;
    color: #808080;
}

.search-result {
    margin: 25px auto;
    width: 600px;
}

.search-result-title {
    margin: 0;
    font-size: 18px;
}

.search-result-url {
    margin: 0;
    font-size: 14px;
    color: rgb(0, 102, 33);
}

.search-result-snippet {
    font-size: 13px;
    margin: 0;
}

#search_result_index {
    width: 600px;
    margin: 25px auto;
    text-align: center;
    font-size: 13px;
}

#search_result_index a {
    margin: 0 8px;
    color: #4285f4;
}

#current_page_id {
    color: #000 !important;
}